<%- include('partials/header.ejs') %>
<h1>About Me</h1>
<img class="profile" src="images/cat.jpg" alt="cillian-murphy">
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a risus a libero mattis venenatis in non massa. 
  Donec interdum metus elit, a hendrerit dui sagittis vel. Integer nec vehicula est, at fringilla elit.
   Suspendisse dignissim lorem in malesuada varius. .</p>
<%- include('partials/footer.ejs') %>
